[submodule "src/repos/core"]
	path = src/repos/core
	url = https://github.com/elsa-workflows/elsa-core.git
[submodule "src/repos/studio"]
	path = src/repos/studio
	url = https://github.com/elsa-workflows/elsa-studio.git
[submodule "src/repos/extensions"]
	path = src/repos/extensions
	url = https://github.com/elsa-workflows/elsa-extensions.git
